@model Jokes
@{
	ViewData["Title"] = "Random Jokes";
}

<h1>@ViewData["Title"]</h1>

<div>
	<h2>Here's a random joke for you!</h2>

	<p>@Model.Type</p>
	<p>@Model.Setup</p>
	<p>@Model.Punchline</p>
	<p>@Model.Id</p>
</div>
